@import "./styles/globals.scss";

.App {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  ); */
  overflow-y: auto;
  overflow-x: hidden;
}

.page {
  padding-top: 5em;
}
